/* GOOGLE FONTS API */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Golos+Text:wght@400..900&display=swap");

:root {
  /* FONTS */
  --font-title-primary: "Anton", sans-serif;
  --font-text: "Golos Text", sans-serif;

  /* PALETTE COLORS */
  --color-primary: #17120f;
  --color-secondary: #f6f6f6;
  --color-tertiary: #d7df17;
  --color-quaternary: #00ae99;

  /* OTHERS VARIANTS */
  --cap-overlay: rgba(0, 0, 0, 0.5);
  /* BACKGROUNDS & TEXTURES */

  /* GLOBAL ANIMATIONS */
}

* {
  min-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
button {
  text-wrap: balance;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Adjust the number of lines as needed */
  line-clamp: 2;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-primary);
}

/* scrollbar custom */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-tertiary);
  border-radius: 2rem;
}

h1,
h2,
h3,
h4,
button {
  font-family: var(--font-title-primary);
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4,
a,
p {
  color: var(--color-secondary);
}

h2 {
  font-size: 4rem;
}

.full-screen-section {
  height: 100dvh;
}

button {
  background-color: var(--color-tertiary);
  padding: 0.7rem;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: var(--color-secondary);
  }
  
  &:active {
    background-color: var(--color-quaternary);
    transform: scale(0.8);
  }
}

p,
a,
::placeholder,
input,
textarea,
label {
  font-family: var(--font-text);
}

/* ELEMENTS BROWSER STYLES OFF */
p {
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

svg {
  display: block;
}

ul,
ol,
li {
  list-style: none;
}

h3,
a,
input,
textarea {
  letter-spacing: 0.05rem;
}

img,
svg,
button {
  -webkit-user-select: none;
  user-select: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea:focus {
  outline: none;
}
